<header #header>
  <a routerLink="/" class="logo">Grúas CL</a>
  <div #menuToggle class="toggle" (click)="toogleMenu()"></div>
  <ul #menu class="menu">
    <li>
      <a
        href="servicio-grua-cali-economicas-24-horas#inicio"
        (click)="toogleMenu()"
        >Inicio</a
      >
    </li>
    <li>
      <a
        href="servicio-grua-cali-economicas-24-horas#nosotros"
        (click)="toogleMenu()"
        >Nosotros</a
      >
    </li>
    <li>
      <a
        href="servicio-grua-cali-economicas-24-horas#servicios"
        (click)="toogleMenu()"
        >Servicios</a
      >
    </li>
    <li>
      <a
        href="servicio-grua-cali-economicas-24-horas#trabajos"
        (click)="toogleMenu()"
        >Trabajos</a
      >
    </li>
    <li>
      <a
        href="servicio-grua-cali-economicas-24-horas#testimonios"
        (click)="toogleMenu()"
        >Reseñas</a
      >
    </li>
    <li>
      <a
        href="servicio-grua-cali-economicas-24-horas#contacto"
        (click)="toogleMenu()"
        >Contáctanos</a
      >
    </li>
  </ul>
</header>

<!-- BTN Asegurados BTN -->
<!-- <div class="boxBtn" title="Asegura tu Vehículo">
  <a href="#"> -% </a>
</div> -->
<!-- BTN Asegurados BTN -->

<!-- BTN WhatsApp BTN -->
<div class="boxBtn" #boxBtn title="Servicios de Grua en Cali 24 Horas">
  <a
    href="https://wa.me/573135804298"
    target="_blank"
    title="WhatsApp - Grúas CL - Servicio Grúas"
    (click)="sendClick('Wh')"
    >Escribenos
    <fa-icon
      [icon]="faWhatsapp"
      aria-label="hidden"
      style="font-size: 2em"
    ></fa-icon>
  </a>
  <a
    href="tel:+573135804298"
    target="_blank"
    class="emergency"
    alt="Servicio Grúa Urgente Cali 24 horas | Grúas CL"
    title="Servicio Grúa Urgente Cali 24 horas | Grúas CL"
    (click)="sendClick('Tel')"
    >Llámanos
  </a>
</div>
<!-- BTN WhatsApp BTN -->

<app-index id="inicio"></app-index>
<app-nosotros id="nosotros"></app-nosotros>
<app-servicios id="servicios"></app-servicios>
<app-trabajos id="trabajos"></app-trabajos>
<app-testimonios id="testimonios"></app-testimonios>
<app-contactanos id="contacto"></app-contactanos>
