header {
  position: fixed;
  top: 1vh;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 500ms;
}

header.sticky {
  top: 0;
  background: var(--backgroundColorPrincipal);
  padding: 20px 100px;
  box-shadow: var(--boxShadow);
}

header .logo {
  color: var(--letrasTitulosColor);
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

header .logo:hover {
  color: var(--colorPrincipal);
}

header.sticky .logo {
  color: var(--colorPrincipal);
}

header.sticky .logo:hover {
  color: var(--letrasTitulosColor);
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: var(--letrasTitulosColor);
  text-decoration: none;
  cursor: pointer;
}

header ul li a:hover {
  color: var(--colorPrincipal);
  border-bottom: 1px solid var(--colorPrincipal);
}

header.sticky ul li a {
  color: var(--colorPrincipal);
}

header.sticky ul li a:hover {
  color: var(--letrasTitulosColor);
  border-bottom: 1px solid var(--letrasTitulosColor);
}

.boxBtn {
  position: fixed;
  top: 15vh;
  right: 0;
  height: 100px;
  z-index: 1;
  align-items: center;
  display: flex;
}

.boxBtn a {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  margin: 20px 0;
  color: var(--backgroundColorPrincipal);
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 500ms;
  letter-spacing: 5px;
  background: var(--colorPrincipal);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  width: 7vw;
}

.boxBtn a:hover {
  box-shadow: 0 0 5px var(--colorPrincipal), 0 0 25px var(--colorPrincipal),
    0 0 50px var(--colorPrincipal), 0 0 200px var(--colorPrincipal);
  width: 10vw;
}

.boxBtn .btnWhatsApp {
  background-image: url("../../../assets/icons/whatsapp.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
}

/* responsive */

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 40px;
    z-index: 1000;
  }

  .menu {
    position: fixed !important;
    top: 75px;
    left: -100%;
    display: block !important;
    padding: 100px 40px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: var(--backgroundColorPrincipal);
    transition: 500ms;
    z-index: 999;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .menu.active {
    left: 0;
  }

  header ul li {
    height: 15%;
  }

  header ul li a {
    color: var(--letrasTitulosColor);
    font-size: 24px;
    margin: 10px;
  }

  header ul li a:hover {
    color: var(--colorPrincipal);
  }

  .toggle {
    width: 40px;
    height: 40px;
    background-image: url("../../../assets/images/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }

  .toggle.active {
    background-image: url("../../../assets/images/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
  .boxBtn {
    top: 10vh;
  }

  .boxBtn a {
    width: 15vh;
  }

  .boxBtn a:hover {
    width: 18vh;
  }
}
