<section class="testimonials adjust">
  <div class="title">
    <h2>Reseñas de nuestros servicios</h2>
    <p>
      Presentamos algunas reacciones de nuestros clientes increiblemente
      satisfechos.
    </p>
  </div>
  <ul class="content">
    <li class="testimonialsBox">
      <!-- <div class="imgBx">
        <img src="../../../assets/resenasImg/4.jpeg" alt="resenas" />
      </div>-->
      <p>
        Desde el momento en que llamé a su línea de emergencia, hasta que mi
        vehículo fue entregado al taller, quedé impresionado por la rapidez y
        profesionalismo demostrado por el equipo de <span>Gruas CL</span> Su
        respuesta fue inmediata, y en cuestión de minutos, una de sus grúas
        llegó al lugar del incidente.
      </p>
      <h4>
        Juan Ramírez<br />
        <span>Empresario</span>
      </h4>
    </li>
    <li class="testimonialsBox">
      <!-- <div class="imgBx">
        <img src="../../../assets/resenasImg/3.jpeg" alt="resenas" />
      </div> -->
      <p>
        El equipo de <span>Gruas CL</span> llegó al lugar en cuestión de
        minutos, equipado con la grúa adecuada para manejar nuestro vehículo de
        carga pesada. Lo que más me impresionó fue su capacidad para coordinar
        el rescate de manera eficiente, manteniendo la seguridad de todos los
        involucrados y minimizando cualquier riesgo adicional.
      </p>
      <h4>
        María López<br />
        <span>Directora Contable</span>
      </h4>
    </li>
    <div class="testimonialsBox">
      <!-- <div class="imgBx">
        <img src="../../../assets/resenasImg/6.jpeg" alt="resenas" />
      </div> -->
      <p>
        <span>Gruas CL</span> es simplemente fenomenal. Mi camión se averió en
        medio de una entrega urgente, y su equipo llegó al rescate sin demora.
        Su profesionalismo y eficiencia hicieron toda la diferencia. ¡Recomiendo
        encarecidamente sus servicios a todos los conductores!
      </p>
      <h4>
        Sofía García<br />
        <span>Ingeniera Industrial</span>
      </h4>
    </div>
  </ul>
</section>
