<section class="testimonials adjust">
  <div class="title">
    <h2>Reseñas de nuestros servicios</h2>
    <p>
      Presentamos algunas reacciones de nuestros clientes increiblemente
      satisfechos.
    </p>
  </div>
  <div class="content">
    <div class="testimonialsBox">
      <div class="imgBx">
        <img src="../../../assets/resenasImg/4.jpeg" alt="resenas" />
      </div>
      <!-- <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa eveniet
        tempora aut placeat iure aperiam quod qui optio eaque! Deserunt ullam
        corporis ipsa praesentium dolore rerum magnam laudantium nostrum
        aliquam?
      </p>
      <h4>
        Alguien famoso <br />
        <span>Diseñador Web</span>
      </h4> -->
    </div>
    <div class="testimonialsBox">
      <div class="imgBx">
        <img src="../../../assets/resenasImg/5.jpeg" alt="resenas" />
      </div>
      <!-- <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa eveniet
        tempora aut placeat iure aperiam quod qui optio eaque! Deserunt ullam
        corporis ipsa praesentium dolore rerum magnam laudantium nostrum
        aliquam?
      </p>
      <h4>
        Alguien famoso <br />
        <span>Diseñador Web</span>
      </h4> -->
    </div>
    <div class="testimonialsBox">
      <div class="imgBx">
        <img src="../../../assets/resenasImg/6.jpeg" alt="resenas" />
      </div>
      <!-- <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa eveniet
        tempora aut placeat iure aperiam quod qui optio eaque! Deserunt ullam
        corporis ipsa praesentium dolore rerum magnam laudantium nostrum
        aliquam?
      </p>
      <h4>
        Alguien famoso <br />
        <span>Diseñador Web</span>
      </h4> -->
    </div>
  </div>
</section>
