<section class="adjust">
  <aside class="imgBx">
    <img
      src="https://gruascl.com/assets/icons/logoGruasTransparente.webp"
      class="cover"
      [appSkeletonLoader]="true"
      skeletonType="image"
      alt="Gruas Cali - Grúas CL Logo Servicio de Grua 24 Horas"
      title="Gruas Cali - Grúas CL Servicio de Grua Economico"
      fetchpriority="high"
      width="330"
      height="400"
      (load)="onLogoLoad()"
    />
  </aside>

  <main>
    <h1>Gruas Cali - Servicio de Grúa 24 Horas</h1>
    <p>
      Ofrecemos el servicio de <strong>Grúas en Cali</strong>, empresa líder con
      atención inmediata y cobertura 24 horas en toda la ciudad.
    </p>
    <p>
      Tu mejor opción al necesitar un <strong>servicio de grúa cerca</strong>,
      disponible para vehículos livianos, pesados y motocicletas a precios
      económicos.
    </p>

    <div *ngIf="publicService.imgIndex" class="btnBox">
      <a
        href="https://wa.me/+573215325109"
        target="_blank"
        class="btn"
        alt="Reservar Servicio Grúa Cali 24 horas | Grúas CL"
        title="Reservar Servicio Grúa Cali 24 horas | Grúas CL"
        (click)="sendClick('Wh - Index')"
      >
        Cotizar GRATIS
        <fa-icon
          [icon]="faWhatsapp"
          aria-label="hidden"
          style="font-size: 1.5em"
        ></fa-icon>
      </a>
      <a
        href="tel:573215325109"
        target="_blank"
        class="btn emergency"
        alt="Servicio Grúa Urgente Cali 24 horas | Grúas CL"
        title="Servicio Grúa Urgente Cali 24 horas | Grúas CL"
        (click)="sendClick('Tel - Index')"
      >
        Llamar AHORA
      </a>
    </div>
  </main>

  <footer *ngIf="publicService.imgIndex">
    <ul>
      <li *ngFor="let social of socialNetworks">
        <a [href]="social.href" target="_blank" [title]="social.title">
          <fa-icon [icon]="social.icon"></fa-icon>
        </a>
      </li>
    </ul>
    <p>
      Copyright 2025
      <a href="https://jarg-dev.com/" target="_blank"> &copy; JA__RG </a>
      - Todos Los Derechos Reservados.
    </p>
  </footer>
</section>
