<section class="banner">
  <div class="imgBx">
    <img
      src="../../../assets/icons/logoGruasTransparente.jpg"
      class="cover"
      alt="logo"
    />
  </div>
  <div class="content">
    <h2>¡HOLA! Somos <br /><span>Grúas CL.</span></h2>
    <p>
      <!-- Una empresa dedicada a brindar soluciones logísticas de transporte con
      vehículos livianos, medianos, pesados y todo tipo de maquinaria. Siendo
      reconocidos en el mercado por la calidad de nuestros servicios, destacando
      por la celeridad y atención para con nuestros clientes al momento de
      asistir los servicios solicitados. -->

      Una empresa dedicada a brindar soluciones logísticas en transporte de
      vehículos livianos, medianos, pesados y todo tipo de maquinaria. Siendo
      reconocidos en el mercado por la calidad, celeridad y atención para con
      nuestros clientes al momento de asistir los servicios solicitados.
    </p>
    <div class="btnBox">
      <a href="https://wa.me/573215325109" target="_blank" class="btn">
        Reservar Servicio
      </a>
      <!-- <a routerLink="/product-list" class="btn2 btn" (click)="publicService.show()">
        Regalo para tu Vehículo
      </a> -->
    </div>
  </div>

  <footer>
    <ul class="sci">
      <li>
        <a target="_blank" href="https://www.facebook.com/">
          <fa-icon [icon]="faFacebookF"></fa-icon
        ></a>
      </li>
      <li>
        <a href="landing#contacto"> <fa-icon [icon]="faGoogle"></fa-icon></a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/">
          <fa-icon [icon]="faInstagram"></fa-icon
        ></a>
      </li>
    </ul>
    <p class="copyrightText">
      Copyright 2023
      <a href="https://code-pro.netlify.app/" target="_blank"
        >&copy; {{ "{" }} code : PRO {{ "}" }}</a
      >
      - All rights reserved.
    </p>
  </footer>
</section>
