<section class="services adjust">
  <div class="title">
    <h2>Servicios Que Ofrecemos</h2>
    <p>
      Dada nuestra presencia prioritaria en Cali, nuestros servicios se
      extienden desde esta ubicación hasta alcanzar cobertura a nivel nacional.
    </p>
  </div>
  <ul class="content">
    <li class="serviceBox">
      <img src="../../../assets/servicioImg/servicio01.jpeg" alt="servicio01" />
      <h2>Livianos</h2>
      <p>
        Disponemos de maquinaria de primera calidad y ofrecemos los precios más
        competitivos para brindar una asistencia responsable y eficiente en
        todos los servicios solicitados.
      </p>
    </li>
    <li class="serviceBox">
      <img src="../../../assets/servicioImg/servicio02.jpeg" alt="servicio02" />
      <h2>medianos</h2>
      <p>
        Nuestros técnicos altamente capacitados y cualificados están disponibles
        para proporcionarte la experiencia en seguridad y responsabilidad que
        solo <span>Grúas CL.</span> puede ofrecer.
      </p>
    </li>
    <li class="serviceBox">
      <img src="../../../assets/servicioImg/servicio03.jpeg" alt="servicio03" />
      <h2>grandes</h2>
      <p>
        Nuestra posición de liderazgo en el mercado se debe a nuestra constante
        responsabilidad y compromiso con la satisfacción de nuestros clientes.
      </p>
    </li>
    <li class="serviceBox">
      <img src="../../../assets/servicioImg/servicio04.jpeg" alt="servicio04" />
      <h2>maquinaria</h2>
      <p>
        Somos aliados de tu tiempo y de tú economía. En <span>Grúas CL</span>,
        aseguramos el transporte de su maquinaria sin contratiempos. Nos
        comprometemos a ser aliados de su tiempo y economía, proporcionando
        soluciones eficientes y económicas.
      </p>
    </li>
    <li class="serviceBox">
      <img src="../../../assets/servicioImg/servicio05.jpeg" alt="servicio05" />
      <h2>grúa telescópica</h2>
      <p>
        Disponemos de una extensa variedad de maquinaria a tu disposición, lista
        para ofrecerte soluciones oportunas y precisas que se adapten a tus
        necesidades específicas.
      </p>
    </li>
    <li class="serviceBox">
      <img src="../../../assets/servicioImg/servicio06.jpeg" alt="servicio06" />
      <h2>rescates</h2>
      <p>
        En nuestro equipo, contamos con profesionales altamente capacitados y la
        maquinaria especializada necesaria para abordar con éxito cualquier
        situación de rescate que se presente.
      </p>
    </li>
  </ul>
</section>
