<section class="services adjust">
  <div class="title">
    <h2>Servicios Que Ofrecemos</h2>
    <p>
      Dada nuestra presencia prioritaria en Cali, nuestros servicios se
      extienden desde esta ubicación hasta alcanzar cobertura a nivel nacional.
    </p>
  </div>

  <ul *ngIf="servicios.length">
    <li *ngFor="let s of servicios">
      <img
        [src]="s.src"
        [alt]="s.alt"
        [title]="s.title"
        loading="lazy"
        width="340"
        height="200"
      />
      <h3>{{ s.titulo }}</h3>
      <p [innerHTML]="s.parrafo"></p>
    </li>
  </ul>
</section>
