<section class="services adjust" *ngIf="publicService.servicios">
  <div class="title">
    <h2>Servicios Que Ofrecemos</h2>
    <p>
      Dado que nuestra base está en Cali, ofrecemos servicios en la ciudad y
      traslados a nivel nacional, sin cobertura local en otros municipios.
    </p>
  </div>

  <ul>
    <li *ngFor="let s of servicios">
      <img
        [src]="s.src"
        [alt]="s.alt"
        [title]="s.title"
        loading="lazy"
        width="340"
        height="200"
      />
      <h3>{{ s.titulo }}</h3>
      <p [innerHTML]="s.parrafo"></p>
    </li>
  </ul>
</section>
