<section class="nosotros adjust">
  <div class="title">
    <h2>Acerca De Nosotros</h2>
  </div>
  <div class="content">
    <div class="textBox">
      <p>
        <span>Grúas CL</span> se originó con el propósito de proporcionar
        <strong>
          servicios oportunos, asistencia inmediata 24 horas y muy económicos
        </strong>
        a aquellos que requieren mover su vehículo con una manera segura y
        respaldada. Nuestra empresa se distingue por cultivar una relación de
        amistad con nuestros clientes, priorizando su tiempo y economía.
        Demostramos compromiso y responsabilidad en cada servicio que ofrecemos,
        garantizando tranquilidad y confianza en cada traslado.
      </p>
    </div>
    <div class="imgBx">
      <img
        src="../../../assets/images/nosotros.webp"
        alt="Logo Grúas CL - Servicio grúa"
        title="Logo Grúas CL - Servicio grúa"
        loading="lazy"
      />
    </div>
  </div>
</section>
