.nosotros .content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 40px;
  align-items: center;
}

.nosotros .content .textBox {
  width: 40%;
  min-width: 40%;
}

.nosotros .content .imgBx {
  position: relative;
  min-width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros .content .imgBx img {
  position: relative;
  max-width: 100%;
  border-radius: 50%;
}

@media (max-width: 991px) {
  .nosotros .content {
    margin-top: 50px;
    flex-direction: column-reverse;
  }

  .nosotros .content .textBox {
    width: 100%;
    min-width: 100%;
    gap: 70px;
  }
}
