<section class="nosotros adjust">
  <div class="title">
    <h2>Acerca De Nosotros</h2>
  </div>
  <div class="content">
    <div class="textBox">
      <p>
        Central Nacional de Grúas se creó con el fin de dar soluciones
        oportunas y precisas, para las personas que necesitan transladar su
        vehiculo de un punto a otro con el respaldo y seguridad que le brinda el
        fruto de una amistad, nuestra empresa antes de todo es amiga de quienes
        contratan nuestro servicio, de su tiempo y de su economía demostrando
        compromiso y responsabilidad en cada servicio prestado.
      </p>
    </div>
    <div class="imgBx">
      <img src="../../../assets/images/nosotrosCopia.jpg" alt="LOGOEMPRESA" />
    </div>
  </div>
</section>
