<section class="nosotros adjust" *ngIf="publicService.imgIndex">
  <div class="title">
    <h2>Acerca de Nuestras Gruas en Cali</h2>
  </div>
  <div class="content">
    <div class="textBox" *ngIf="publicService.imgNosotros">
      <p>
        Con años de trayectoria, <span>Grúas CL</span> se ha consolidado como
        referente en <strong>gruas Cali</strong> atendiendo emergencias
        vehiculares las 24 horas del día. Nuestra cobertura estratégica abarca
        los Todos los sectores y comunas de la ciudad: <strong>Norte</strong>,
        <strong>Sur</strong>, <strong>Centro</strong>,
        <strong>Oriente</strong>
        y <strong>Occidente</strong>
        Como empresa especializada en
        <strong>servicio de grua 24 horas</strong> y
        <strong>grua economica Cali</strong>, garantizamos respuesta inmediata y
        tarifas competitivas para el <strong>traslado de vehículos</strong>
        desde Cali hacia destinos como Palmira, Jamundí, Yumbo, Candelaria,
        Buenaventura o cualquier ciudad de Colombia.
      </p>
    </div>

    <div class="imgBx">
      <img
        src="https://gruascl.com/assets/images/nosotros.webp"
        [appSkeletonLoader]="true"
        skeletonType="image"
        srcset="
          https://gruascl.com/assets/images/nosotros.webp 300w,
          https://gruascl.com/assets/images/nosotros.webp 150w,
          https://gruascl.com/assets/images/nosotros.webp 600w
        "
        sizes="(max-width: 480px) 150px, (max-width: 768px) 300px, 600px"
        alt="Logo Grúas CL - Servicio grúa"
        title="Logo Grúas CL - Servicio grúa"
        loading="lazy"
        width="300"
        height="200"
        (load)="onLogoLoad()"
      />
    </div>
  </div>
</section>
