<section class="adjust">
  <div class="title">
    <h2>Trabajos de Gruas Cali - Portafolio</h2>
    <p>
      Contamos con un extenso historial en proyectos exitosos llevados a cabo.
    </p>
  </div>

  <ul>
    <li *ngFor="let t of trabajos; let i = index">
      <div class="imgBx">
        <img
          [appLazyLoading]="setSrc(i)"
          [appSkeletonLoader]="true"
          skeletonType="image"
          [srcset]="setSrc(i) + ' 500w'"
          sizes="(max-width: 480px) 250px, (max-width: 768px) 500px, 1000px"
          [alt]="t.alt"
          [title]="t.title"
          loading="lazy"
          width="500"
          height="300"
        />
      </div>
      <div class="textBx">
        <span>{{ t.text }}</span>
      </div>
    </li>
  </ul>

  <button (click)="onPushImage()" class="btn" *ngIf="btnVisibillity">
    Ver Más
  </button>
</section>
