<section class="adjust" *ngIf="publicService.trabajos">
  <div class="title">
    <h2>Trabajos Recientes</h2>
    <p>
      Contamos con un extenso historial en proyectos exitosos llevados a cabo.
    </p>
  </div>

  <ul>
    <li *ngFor="let t of trabajos">
      <div class="imgBx">
        <img
          [src]="t.src"
          [alt]="t.alt"
          [title]="t.title"
          loading="lazy"
          width="500"
          height="300"
        />
      </div>
      <div class="textBx">
        <span>{{ t.text }}</span>
      </div>
    </li>
  </ul>

  <button
    (click)="onPushImage()"
    class="btn"
    *ngIf="btnVisibillity"
  >
    Ver Más
  </button>
</section>
