section ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

section ul li {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

section ul li .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: 500ms ease-in-out;
}

section ul li:hover .imgBx {
  transform: translateY(-100%);
  cursor: pointer;
}

section ul li .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section ul li .textBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backgroundColorSecundario);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: 500ms ease-in-out;
}

section ul li:hover .textBx {
  transform: translateY(0);
  cursor: pointer;
}

section ul li .textBx span {
  /* color: var(--letrasSinContrasteColor); */
  font-size: 1em;
}

section button {
  width: 50%;
  height: 40px;
  left: 25%;
  right: 0;
}

@media (max-width: 991px) {
  section ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 680px) {
  section ul {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
