.project .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

.project .content .workBx {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.project .content .workBx .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: 500ms ease-in-out;
}

.project .content .workBx:hover .imgBx {
  transform: translateY(-100%);
  cursor: pointer;
}

.project .content .workBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .content .workBx .textBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backgroundColorSecundario);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: 500ms ease-in-out;
}

.project .content .workBx:hover .textBx {
  transform: translateY(0);
  cursor: pointer;
}

.project .content .workBx .textBx h3 {
  color: var(--letrasSinContrasteColor);
  font-size: 1em;
}
