<section class="contact">
  <div class="content">
    <h2>Contacto Gruas Cali - Servicio 24 Horas</h2>
    <p>
      Por cualquiera de nuestras vías <br />
      visítanos, llama o escribe para darte solución <br />
      a los problemas de remolque con tu vehículo.
    </p>
  </div>
  <div class="container">
    <ul>
      <li>
        <div class="icon">
          <fa-icon [icon]="faMapMarked"></fa-icon>
        </div>
        <article>
          <h3>Ubicación Gruas en Cali</h3>
          <address>
            Avenidad 3f # 55-14
            <br />
            <strong>La Flora</strong>
            <br />
            760050
          </address>
        </article>
      </li>
      <li>
        <div class="icon"><fa-icon [icon]="faPhone"></fa-icon></div>
        <article>
          <h3>Teléfonos 24 Horas</h3>
          <address>+(57) 321 532 51 09</address>
          <address>+(57) 313 580 42 98</address>
        </article>
      </li>
      <li>
        <div class="icon">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </div>
        <article>
          <h3>Email</h3>
          <address>servicio247&#64;gruascl.com</address>
        </article>
      </li>
    </ul>
    <div class="contactForm">
      <form
        name="contactForm"
        [formGroup]="contactForm"
        (ngSubmit)="sendContactMail(contactForm)"
      >
        <h3>Enviar Mensaje</h3>
        <div class="inputBox">
          <input
            name="nombreCompleto"
            id="nombreCompleto"
            formControlName="nombreCompleto"
            type="text"
            required
          />
          <label for="nombreCompleto">Nombre Completo*</label>
        </div>
        <div class="inputBox">
          <input
            name="email"
            id="email"
            formControlName="email"
            type="text"
            required
          />
          <label for="email">Email*</label>
        </div>
        <div class="inputBox">
          <textarea
            name="mensaje"
            id="mensaje"
            formControlName="mensaje"
            required
          ></textarea>
          <label for="mensaje">Escribir mensaje*</label>
        </div>
        <div class="inputBox">
          <button type="submit" class="btn">{{ textButton }}</button>
        </div>
      </form>
    </div>
  </div>
</section>
